name: NGINX Artifact Test

on:
  workflow_dispatch:

jobs:
  BUILD-ARTIFACT:
    runs-on: ubuntu-latest
    outputs:
      image-sha: ${{ steps.get-sha.outputs.sha }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t my-nginx:latest .

      - name: Get Image SHA
        id: get-sha
        run: |
          echo "sha=$(docker images --no-trunc -q my-nginx:latest)" >> $GITHUB_OUTPUT

      - name: Save Docker Image As Artifact
        run: docker save my-nginx:latest -o my-nginx.tar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-nginx
          path: my-nginx.tar

  TEST-ARTIFACT:
    runs-on: ubuntu-latest
    needs: [ BUILD-ARTIFACT ]
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: my-nginx

      - name: Load Docker Image
        run: docker load -i my-nginx.tar

      - name: Run Test Container
        run: |
          docker run -d -p 8080:80 --name Test-Nginx my-nginx:latest
          sleep 5
          curl -f http://localhost:8080
          docker rm -f Test-Nginx

  DEPLOY-ARTIFACT:
    needs: [ BUILD-ARTIFACT, TEST-ARTIFACT ]
    runs-on: self-hosted
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: my-nginx

      - name: Load Docker Image
        run: docker load -i my-nginx.tar

      - name: Deploy Container
        run: |
         # თუ container არსებობს, შევაჩეროთ და წავშალოთ
          if docker ps -a --format '{{.Names}}' | grep -q '^Nginx-Prod$'; then
          echo "Stopping and removing existing Nginx-Prod container..."
          docker stop Nginx-Prod
          docker rm Nginx-Prod
          else
          echo "No existing Nginx-Prod container, proceeding..."
          fi

          # ახლის გაშვება
          echo "Starting new Nginx-Prod container..."
          docker run -d -p 80:80 --name Nginx-Prod my-nginx:latest
